body{
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(nba.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.header{
    width:100%;
    height:130px;
    background:#e6e6e6;
    box-shadow:0 0 40px -10px #000;
    margin-bottom: 100px;
    padding:20px 30px;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

.form{
    width:340px;
    height:900px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin: 20px auto 200px auto;
    margin-left: 80px;
    padding: 20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

.last5{
    float:right;
    padding:8px 12px;
    margin-top: 20px;
    margin-right: 200px;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:#e6e6e6;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    height: 80px;
    width: 280px;
    border-radius: 10px;
}

.last5:hover{background:#78788c;color:#fff}

div.last5 a:hover{color:#fff; text-decoration: none;}

div.textHbig a:hover{text-decoration: none;}

div.last5 a{
    color:#5a5a5a;
    font-size: 40px;
    font-weight: 500;
}

h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c;
}

input{
    width:80%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

input:focus{border-bottom:2px solid #78788c}

p:before{
    content:attr(type);
    display:inline-block;
    font-size:16px;
    color:#5a5a5a;
    width:20%;
    padding-right: 5px;
    text-align:left;
    
}

.textHbig{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.textHsmall{
    text-align: center;
    font-size: 16px;
    margin: 10px 5px 5px 5px;
}

button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
}

button:hover{background:#78788c;color:#fff}

.made{
    content:'Hi';
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:#50505a;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000;
}

.result{
    padding: 10px;
    color: white;
    font-size: 35px;
    background: transparent;
    text-align: center;
}


span{margin:0 5px 0 15px}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    position:relative;
    padding: 5px;
}

.tbl{
    text-align: center;
    margin-bottom: 5px;
}

.tble{
    text-align: center;
    margin-bottom: 5px;
    background-color: #e64b4b;
}

.tblf{background-color: #ff6b6b}

th,td{
    background: #e6e6e6;
    margin: 5px;
    text-align: center;
}

th{background: white;}

.gallery {
    margin-left: 40px;
    float: left;
    width: 120px;
}


div.gallery:hover {
    border: 1px solid #777;
    border-radius: 10px;
}

div.gallery img {
    width: 100%;
    height: auto;
    
    
}



div.desc {
    padding: 15px;
    text-align: center;
    background-color: #e6e6e6;
    font-size: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tablica{
    border-radius: 10px;
}

.ime{
    font-size: 70px;
    color: #e6e6e6;
    text-align: center;
}

.gallery{
    align-content: center;
}

.textHminor{
    text-align: center;
    font-size: 10px;
}

.haha1,.haha2{
    margin-left:90px;
}

.haha2{
    margin-top: 10px;
}

.imgbig{
    width: 150px;
    height: auto;
    margin-left: 770px;
    background: #e6e6e6;
}
